---
layout: default
products:
 - heading: String Of Pearls
   products_image: /images/string-of-pearls.jpg
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe exercitationem sit, corporis quia optio possimus fugit.
   heading2: Peperomia
   products2_image: /images/peperomia.jpg
   description2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe exercitationem sit, corporis quia optio possimus fugit.

 - heading: Yucca
   products_image: /images/yucca.jpg
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe exercitationem sit, corporis quia optio possimus fugit.
   heading2: Schefflera
   products2_image: /images/schefflera.jpg
   description2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe exercitationem sit, corporis quia optio possimus fugit.

 - heading: English Ivy
   products_image: /images/english-ivy.jpg
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe exercitationem sit, corporis quia optio possimus fugit.
   heading2: ZZ Plant
   products2_image: /images/zz-plant.jpg
   description2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe exercitationem sit, corporis quia optio possimus fugit.

 - heading: Calathea Ornata
   products_image: /images/calathea-ornata.jpg
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe exercitationem sit, corporis quia optio possimus fugit.
   heading2: Dieffenbachia
   products2_image: /images/dieffenbachia.jpg
   description2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe exercitationem sit, corporis quia optio possimus fugit.
---

    <!-----------------------  Banner section ------------------------>
    <section class="padded grid text-center tall-30 banner-section"> </section>

    <!-----------------------  Image grid ------------------------>
    <section class="grid padded-sm bg-dark">

        {% for item in page.products %}

        <div class="col-12 white-text grid-spaceAround">
            <!-- background image left --> 
            <div class="bg-image col-2_sm-4 hide-xs margin-b-1" style="background-image: url('{{item.products_image}}')"> </div>
        
            <div class="padded text-center col-4_sm-6_xs-12">
                    <h3> {{item.heading}} </h3>
                    <p> {{item.description}} </p>
            </div>

            <div class="padded text-center col-4_sm-6_xs-12">
                <h3> {{item.heading2}} </h3>
                <p> {{item.description2}} </p>
            </div>
            <!-- background image right --> 
            <div class="bg-image col-2_sm-4 hide-xs margin-b-1" style="background-image: url('{{item.products2_image}}')"> </div>
        </div>

        {% endfor %}

    </section>

    <!-----------------------  Our products list ------------------------>
    <section class="grid-spaceAround padded">
        <h3 class="col-12 margin-b-2 text-center featured-text hide-sm" data-aos="zoom-in" data-aos-duration=1000"> Here is other flowers and green plants that we got in store: </h3>
        <h3 class="h3-mobile show-sm featured-text text-center" data-aos="zoom-in" data-aos-duration=2000"> Contact us for more information about other plants we got. </h3>

        <!------ First row ------>
        <div class="col-3 padded hide-sm">
            <ul>
                <li> Majesty Palm </li>
                <li> Fiddle Leaf Ficus </li>
                <li> Ponytail Palm </li>
                <li> Giant Bird of Paradise </li>
                <li> Calathea Makoyana </li>
                <li> Dragon Tree </li>
                <li> Sansevieria </li>
                <li> Aloe Vera </li>
                <li> Pothos </li>
                <li> Monstera Deliciosa </li>
            </ul>
        </div>   

        <!------ Second row ------>
        <div class="col-3 padded hide-sm">
            <ul>
                <li> Cactus </li>
                <li> Phalaenopsis Orchid </li>
                <li> Succulents (Varied) </li>
                <li> Green Rose </li>
                <li> Green Hellebores </li>
                <li> Green Daylily </li>
                <li> Green Dianthus </li>
                <li> Green Chrysanthemum </li>
                <li> Bells of Ireland </li>
                <li> Green Anastasia Spider </li>
            </ul>
        </div>  

        <!------ Third row ------>
        <div class="col-3 padded hide-sm">
            <ul>
                <li> Green Goddess Lily </li>
                <li> Dahlia </li>
                <li> Carnations </li>
                <li> Lady's Slipper Orchid </li>
                <li> Waterlily </li>
                <li> Air Plant </li>
                <li> Donkey Tail Plant </li>
                <li> Chinese Water Bamboo </li>
                <li> Peace Lily </li>
                <li> Elephant Ears Plant </li>
            </ul>
        </div>  

        <!------ Fourth row ------>
        <div class="col-3 padded hide-sm">
            <ul>
                <li> Bunny Ear Cactus </li>
                <li> Ivy (Hedera) </li>
                <li> Lemon Button Fern </li>
                <li> Anthurium </li>
                <li> Kalanchoe Plant </li>
                <li> Peperomia Plant </li>
                <li> Spider Plant </li>
                <li> Silver Dollar Vine </li>
                <li> Inchplant </li>
                <li> Guiana Chestnut </li>
            </ul>
        </div>  

        {% include testimonial.html %}
    </section>