<footer class="padded grid white-text text-center bg-dark">
    <div class="col-12">
        <h2> Let's 
            <br> <span class="featured-text">connect</span> 
        </h2>   
    </div>
    <div class="col-12">
        <nav class="social-links">
            <a href="#"> <i class="fa-brands fa-facebook"></i> </a>
            <a href="#"> <i class="fa-brands fa-instagram-square"></i> </a>
            <a href="#"> <i class="fa-brands fa-twitter"></i> </a>
        </nav>
    </div>
</footer>
